<head>
<link rel="stylesheet" href="style.css">
</head>
<body style="-webkit-app-region: drag">
  <div id="app">
    <div id="messagepart">
      <message-displayer
        v-if="!editMode"
        :message="currentMessage" 
        @mode-switch="switchEditMode">
      </message-displayer>
      <message-editor
        v-if="editMode" 
        :message="currentMessage" 
        @mode-switch="switchEditMode"
        @update-message="updateMessage">
      </message-editor>
      <button 
        v-if="!editMode" 
        id="historyButton" 
        @click="toggleHistory">
        {{historyShown? 'Hide history':'Show history'}}
      </button>
    </div>
    <history-display
      v-if="historyShown"
      :history="messageHistory"
      @delete="deleteHistoryItem"
      @reuse="reuseHistoryItem"
    ></history-display>
  </div>
  <script src="script.js"></script> 
</body>
