
body{
  background-color: #222;
  color: #aaa;
  font-family: BlinkMacSystemFont;
  user-select: none; 
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#app{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: move;
  outline: none;
}

#messagepart{
  -webkit-app-region: drag;
  border-top: 2px solid #f1c40f;
  border-bottom: 1px solid #555;
  height: 53px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #222;
  z-index: 9;
  line-height: 50px;
}

button{
  font-family: BlinkMacSystemFont;
  background-color: #222;
  color: #999;
  border-radius: 5px;
  border: 1px solid #999;
  cursor: pointer;
}

button:focus{
  outline: none;
}

button:hover{
  background-color: #333;
}

#historyButton{
  margin-left: 10px;
  display: inline;
}

input{
  font-size: 14px;
  font-family: BlinkMacSystemFont;
  color: #222;
  background-color: #ddd;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  padding: 2px;
  width: 70%;
}


#history{
  margin-top: 45px;
  padding-top: 20px;
  overflow: scroll;
}

.history-item{
  margin: 3px;
  cursor: pointer;
  font-size: 12px;
}

.history-item .history-time{
  font-size: 10px;
}

.main-message{
  display: inline-block;
  margin: 0px 0px 4px 0px;
  font-size: 16px;
  cursor: pointer;
  color: #999;
}

.message-time, .history-time{
  font-size: 12px;
  color: #f1c40f;
}